node_modules/
.zed/
dist/
coverage/
/outputs/
.*.fetch.lock

data/
.codegraph/
.codegraph/**

*.db
*.bin

dne.db
dne.db-journal
dne.db-wal
dne.db-shm

.env
.env.development
.env.production
.env.test

.DS_Store
